<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weightloss_pathway_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeightLoss_Pathway_project">
        <activity
            android:name=".PlannedView"
            android:exported="false" />
        <activity
            android:name=".PlanningGoals"
            android:exported="false" />
        <activity
            android:name=".SelectedGoalWeekly"
            android:exported="false" />
        <activity
            android:name=".Help"
            android:exported="false" />
        <activity
            android:name=".WeeklyTab"
            android:exported="false" />
        <activity
            android:name=".Message"
            android:exported="false" />
        <activity
            android:name=".FireBase"
            android:exported="false" />
        <activity
            android:name=".CreateUserCredentials"
            android:exported="false" />
        <activity
            android:name=".CreateUserContactInfo"
            android:exported="false" />
        <activity
            android:name=".CreateUserName"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".CreatedGoalWeekly"
            android:exported="false"
            android:label="@string/title_activity_weekly"
            android:theme="@style/Theme.WeightLoss_Pathway_project.NoActionBar" />
        <activity
            android:name=".Main"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>